<template>
  <v-container>
    <h1>Page d'accueil du jeu</h1>
    <p>Il s'agit ici de la page racine. Je ne sais pas vraiment quoi faire.</p>
    <p>Idées :</p>
    <ul>
      <li>Faire une sorte de tableau de bord (mais dans ce cas, va falloir être extrêment précis sur ce que vous voulez)</li>
      <li>Afficher le contenu de la page <router-link to="/livre">Livre</router-link> (et du coup, supprimer le lien <router-link to="/">Accueil</router-link> du menu)</li>
      <li>Autres idées ?</li>
    </ul>
  
  </v-container>
  
  <!--<livre/>-->
  
</template>

<script>
  /*import Livre from '@/views/Livre'*/
  
  export default {
    name: 'Home',
    /*components: {
      Livre
    }*/
  }
</script>
