<template>
  <v-layout row wrap justify-center style="line-height: 0">
    <v-flex xs12>
      <v-img :src="require('../../public/windows_wallpaper.jpg')" alt="Windows" style="height: calc(100vh - 64px - 36px);">
        <v-layout column>
          <v-flex xs12 v-for="d in 2" :key="d">
            <v-btn flat dark class="ma-0" style="padding: 60px 12px; width: 120px">
              <v-layout row wrap align-center>
                <v-flex xs12 class="mb-4">
                  <img :src="require('../../public/windows_folder.png')" alt="Folder" style="height: 60px">
                </v-flex>
                <v-flex xs12>
                  <div class="text-none">Dossier {{ d }}</div>
                </v-flex>
              </v-layout>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-img>
    </v-flex>
    <v-flex xs12 class="black">
      <v-layout row align-center>
        <v-btn flat dark class="ma-0">
          <v-icon>fab fa-windows</v-icon>
        </v-btn>
        <v-spacer/>
        <v-btn flat dark class="ma-0">{{ getTime }}</v-btn>
      </v-layout>
    
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    name: "Livre",
    computed: {
      getTime() {
        var d = new Date()
        if (d.getMinutes() < 10) {
          return d.getHours() + ":0" + d.getMinutes()
        }
        return d.getHours() + ":" + d.getMinutes()
      }
    }
  }
</script>