<template>
  <v-container fluid>
    <!-- presentation -->
    <h1 class="mb-3" style="color: red;">Bienvenue sur le site du port de Machin Compagnie</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aliquid deleniti distinctio expedita hic impedit ipsum iste labore laborum maiores nesciunt nisi nulla obcaecati, omnis perferendis rem similique totam voluptates.</p>
    <p>Nous pouvons :</p>
    <ul>
      <li>accueillir <strong>3 porte-containeurs</strong></li>
      <li>stocker <strong>256 containeurs</strong></li>
    </ul>
    
    <!-- map -->
    <h2 class="mt-5 mb-3" style="color: green;">Découvrez notre port :</h2>
    <img :src="require('../../public/containeurs_map.jpg')" alt="Carte du port" style="border: 1px solid black">
    
    <!-- schedule -->
    <h2 class="mt-5 mb-3" style="color: green;">Nos horaires :</h2>
    <table>
      <tr>
        <th></th>
        <th>Lundi</th>
        <th>Mardi</th>
        <th>Mercredi</th>
        <th>Jeudi</th>
        <th>Vendredi</th>
        <th>Samedi</th>
        <th>Dimanche</th>
      </tr>
      <tr>
        <th>Matin</th>
        <td colspan="7">7h - 13h</td>
      </tr>
      <tr>
        <th>Après midi</th>
        <td colspan="6">15h - 19h</td>
        <td>Fermé</td>
      </tr>
    </table>
  </v-container>
</template>

<script>
  export default {
    name: "port"
  }
</script>

<style scoped>
  * {
    font-family: "DejaVu Serif";
  }
  
  table {
    border-collapse: collapse;
  }
  td, th {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
  }
</style>