<template>
  <div>
    <nav>
      <!-- header -->
      <v-toolbar clipped-left class="amber lighten-3">
        
        <v-spacer/>
        <v-toolbar-title class="text-uppercase">
          <span class="font-weight-light">Mon</span>
          <span>Resto</span>
        </v-toolbar-title>
        <v-spacer/>
        
        <v-btn absolute right>
          <v-icon left small>fas fa-phone</v-icon>
          <span>Réserver</span>
        </v-btn>
      </v-toolbar>
    </nav>
    
    <!--<v-img :src="require('../../public/restaurant_wallpaper.jpg')" height="250" gradient="rgba(0,0,0,.7), rgba(0,0,0,.7)">
      <v-container pa-5>
        <v-layout column align-center class="text-xs-center white&#45;&#45;text">
          <v-flex>
            <h2 class="mb-4">C'est nous les meilleurs !</h2>
            <div class="subheading">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eligendi facilis illo magni minus recusandae repellat sint. Consectetur culpa doloremque eos, laudantium mollitia nihil numquam officiis omnis quasi quibusdam unde? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deleniti doloribus in magni molestias pariatur qui sit voluptatum? Autem, delectus ducimus earum incidunt inventore iure laborum nulla provident quasi quisquam!
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-img>-->
    
    <v-parallax :src="require('../../public/restaurant_dark_wallpaper.jpg')" dark>
      <v-layout column align-center justify-center>
        <h2 class="mb-4 display-1 font-weight-bold">C'est nous les meilleurs !</h2>
        <div class="subheading text-xs-center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eligendi facilis illo magni minus recusandae repellat sint. Consectetur culpa doloremque eos, laudantium mollitia nihil numquam officiis omnis quasi quibusdam unde? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deleniti doloribus in magni molestias pariatur qui sit voluptatum? Autem, delectus ducimus earum incidunt inventore iure laborum nulla provident quasi quisquam!
        </div>
      </v-layout>
    </v-parallax>
    
    <!-- menu -->
    
    <v-container>
      <v-layout row wrap class="text-xs-center" justify-center>
        <v-flex xs12>
          <h2 class="mb-4">Notre menu du jour</h2>
        </v-flex>
        <v-flex xs6 md3>
          <v-card class="pa-4">
            <v-layout column wrap class="text-xs-center">
              <v-flex>
                <div>Salade plus ou moins verte</div>
                <div class="font-weight-bold my-2">~ * ~</div>
              </v-flex>
              <v-flex>
                <div>Steak frite</div>
                <div class="font-weight-bold my-2">~ * ~</div>
              </v-flex>
              <v-flex>
                <div>Banane du chef</div>
                <div class="font-weight-bold" my-2>~ * ~</div>
              </v-flex>
              <v-flex>
                <div class="font-weight-bold display-1 mt-4">59€</div>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    
    <!-- footer -->
    <v-footer height="auto" color="primary lighten-1">
      <v-layout row wrap justify-center pa-3 class="amber lighten-3">
        <div>&copy;2019 — <strong>MonResto</strong></div>
        <v-spacer/>
        <v-icon left>fas fa-map-marked-alt</v-icon>
        <span>une adresse qui reste dans le RP du jeu</span>
        <v-icon left small class="ml-4">fas fa-phone</v-icon>
        <span>un numéro de téléphone qui reste dans le RP du jeu</span>
      </v-layout>
    </v-footer>
  
  </div>
</template>

<script>
  export default {
    name: "restaurant",
  }
</script>