<template>
  <nav id="nav45">
    
    <!-- header -->
    <v-toolbar app clipped-left dark>
      <v-toolbar-side-icon @click="drawer = !drawer"/>
      <v-toolbar-title class="text-uppercase">
        <span class="font-weight-light">Escape</span>
        <span>Game</span>
      </v-toolbar-title>
      
      <v-spacer/>
  
      <v-btn flat class="grey--text">
        <span>Déconnexion</span>
        <v-icon right>exit_to_app</v-icon>
      </v-btn>
    </v-toolbar>
    
    <!-- burger/drawer menu -->
    <v-navigation-drawer clipped app dark v-model="drawer">
      <v-list>
        <v-list-tile v-for="link in links" :key="link.text" router :to="link.route">
          <v-list-tile-action>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ link.text }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>

<script>
  export default {
    name: 'navbar',
    data() {
      return {
        drawer: 'false',
        links: [
          { icon: 'fas fa-home', text: 'Accueil', route: '/' },
          { icon: 'fas fa-book', text: 'Livre', route: '/livre' },
          { icon: 'fas fa-utensils', text: 'Restaurant', route: '/restaurant' },
          { icon: 'fas fa-anchor', text: 'Port', route: '/port' },
        ]
      }
    }
  }
</script>
