<template>
  <v-app>
    
    <!-- header & burger menu -->
    <navbar style="z-index: 1"/>
    
    <!-- main content -->
    <v-content style="z-index: 0">
      <router-view/>
    </v-content>
  
  </v-app>
</template>

<script>
  import Navbar from '@/components/Navbar'
  
  export default {
    name: 'App',
    components: {
      Navbar
    },
  }
</script>
